.md-table-content-candidate {

  border-bottom: 1px solid rgb(230,230,230) ;
}

.md-table-content-jobs-download{
  border-bottom: 1px solid rgb(230,230,230) ;
  text-align: center;
  margin:  auto;
  width:30px;
}
.md-table-content-jobs-download .icon-job-download md-icon{
  margin: auto;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 30px;
  width: 30px;
}

