<form class="form-horizontal" name="jobForm">
  <fieldset>
    <legend>Modific&#259; oportunitate</legend>
    <div layout="row" layout-wrap>
      <div layout="row" layout-align="center center" layout-fill>
        <md-whiteframe class="md-whiteframe-z1" layout="column" flex="45" layout-padding>
          <div ng-include="'app/job/formJob.html'"></div>
          <div layout-gt-xs="row" style="text-align: center;margin: 0 auto;">
            <div class="apply-button">
              <md-button class="md-raised md-primary" ng-disabled="jobForm.$invalid" ng-click="$ctrl.updateJob()">modific&#x103;</md-button>
              <md-button class="md-raised md-warn" ng-click="$ctrl.redirectJob()" type="reset">Anuleaz&#x103;
              </md-button>
            </div>
          </div>
        </md-whiteframe>
      </div>
    </div>
  </fieldset>
</form>
