<div layout="column" layout-wrap>
  <div flex="100">
    <table class="md-table">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th flex="5" class="md-table-header">#</th>
        <th flex="10" class="md-table-header">Nume candidat</th>
        <th flex="10" class="md-table-header">Oportunitatea</th>
        <th flex="10" class="md-table-header">Aptitudini</th>
        <th flex="10" class="md-table-header">Informa&#355;ii suplimentare</th>
        <th flex="10" class="md-table-header">Agen&#355;ia</th>
        <th flex="5" class="md-table-header" style="text-align: center">CV</th>
        <th flex="10" class="md-table-header">Comentariu</th>
        <th flex="5" class="md-table-header">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="candidate in $ctrl.candidates.slice((($ctrl.currentPage-1)*$ctrl.itemsPerPage), (($ctrl.currentPage)*$ctrl.itemsPerPage))" class="md-table-content-row">
        <td>&nbsp;</td>
        <td class="md-table-content-recommend">{{$index+1}}</td>
        <td class="md-table-content-recommend">{{candidate.full_name}}</td>
        <td class="md-table-content-recommend">
          {{candidate.jobTitle}}
        </td>
        <td class="md-table-content-recommend">{{candidate.skill}}</td>
        <td class="md-table-content-recommend">
          <div hm-read-more hm-text="{{candidate.information}}" hm-limit="{{$ctrl.limit}}"
                                                     hm-more-text="{{$ctrl.moreText}}"
                                                     hm-less-text="{{$ctrl.lessText}}"
                                                     hm-dots-class="{{$ctrl.dotsClass}}" hm-link-class="{{$ctrl.linkClass}}" class="content-read-more"
                                                     style="max-width: 400px; outline: none">
        </div></td>
        <td class="md-table-content-recommend">
          {{candidate.for_agency}}
        </td>
        <td class="md-table-content-recommend-download">
          <md-button ng-click="$ctrl.downloadFile(candidate.cv_file)" >
            <md-icon md-svg-src="assets/images/file.svg" style="color: rgb(80,127,153);"></md-icon>
          </md-button>
        </td>
        <td class="md-table-content-recommend">{{candidate.comment}}</td>
        <td class="md-table-content-recommend">{{candidate.status}}</td>

      </tr>
      </tbody>
    </table>
    <uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" ng-change="$ctrl.pageChanged()"
                    class=" $scope.totalItems = 64;pagination-sm" items-per-page="$ctrl.itemsPerPage"
                    previous-text="&#xce;napoi" next-text="&#xce;nainte"
    ></uib-pagination>
  </div>
</div>

</div>
